.service-container {
  padding: 20px 0;
}
.card {
  width: 331px;
  height: 275px;
  background: #ffffff;
  border-radius: 10px;
  padding: 30px 40px;
  margin-bottom: 40px;
}
.card:hover {
  box-shadow: 1px 2px 5px 5px rgba(0, 0, 0, 0.1);
}
.card-title {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 16px;
  text-align: center;
}
.card-text {
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
}
.image-card{
  width:65px;
  height:65px;
  margin:auto;
}

.row {
  margin-right: 0;
}
@media(max-width:1200px){
  .card{
    width: 295px;
    height: 265px;
  }
  .card-title{
    font-size: 17px;

  }
  .card-text{
    font-size: 13px;

  }
  .image-card{
    width:60px;
    height:60px;
  }

}
@media(max-width:992px){
  .col-md-5{
    display:block;
    margin:auto;
  }
  .card{
    width: 280px;
    height: 255px;
    
  }
  .card-title{
    font-size: 17px;

  }
  .card-text{
    font-size: 13px;

  }
  .image-card{
    width:60px;
    height:60px;
  }

}
